---
import { useTranslations } from "../../i18n/utils";
const lang = Astro.currentLocale || "en";
const t = useTranslations(lang as any);
const today = new Date();

const [devPrefix, devSuffix] = t('footer.developedBy').split('...');
const [usePrefix, useSuffix] = t('footer.using').split('...');
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Peregrine Wang
  </div>
  <div class="inline opacity-75">
    {devPrefix}
    <a href="https://peregrinlog.restin.icu/" target="_blank" class="font-bold">
      Peregrine Wang
    </a>
    {devSuffix}
    {usePrefix}
    <a
      href="https://astrofy-template.netlify.app/"
      target="_blank"
      class="font-bold"
    >
      Astrofy Template ⚡️
    </a>
    {useSuffix}
  </div>
  <div class="mt-4 block opacity-75 font-bold text-xs">
    {t("footer.desktopExperience")}
  </div>
</footer>
<style>

</style>
